@import "bootstrap";
@import "../component/product";
@import "../component/variables";

$background: map-get($theme, "background");
$color: map-get($theme, "color");
$header-footer-background: map-get($theme, "header-footer-background");
$header-footer-color: map-get($theme, "header-footer-color");
$section-title: map-get($theme, "section-title");
$section-even-background: map-get($theme, "section-even-background");
$button-primary-background: map-get($theme, "button-primary-background");
$button-primary-color: map-get($theme, "button-primary-color");

* {
    margin: 0;
    padding: 0;
    color: $color;
}

html, body {
    color: $color;
    background: $background;
}

footer {
    width: 100%;
    background: $header-footer-background;
    color: $header-footer-color;
    text-align: center;
    padding: 5px 2px 0 0;
    position: absolute;
    bottom: 0;
    h2 {
        font-size: 0.9rem;
    }
}