{% extends 'layout/main.twig' %}

{% block main_content %}
    <h1>Editar registro {{ transaction.id }}</h1>

    <form method="post" action="/transaction/{{ transaction.id }}/update" enc>
        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" name="name" value="{% if transaction.name %} {{ transaction.name }}{% endif %}">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Valor</label>
            <input type="text" class="form-control" id="amount" name="amount" value="{% if transaction.amount %} {{ transaction.amount }}{% endif %}">
        </div>

        <select class="form-select" aria-label="Default select" name="type">
            <option
                {% if transaction.type.value == 'expense' %}selected="selected"{% endif %}
                value="expense"
            >
                Despesa
            </option>
            <option
                {% if transaction.type.value == 'income' %}select="selected"{% endif %}
                value="income"
            >
                Receita
            </option>
        </select>

        <div class="form-check">
            <input
                {% if transaction.payed %}checked="checked"{% endif %}
                class="form-check-input"
                type="checkbox"
                id="payedCheck"
                name="payed"
            >
            <label class="form-check-label" for="payedCheck">
                Pago?
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>



{% endblock %}